*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-width:  1366px;
    max-height: 768px;
    scrollbar-width: none;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.largura{
    max-width:  1366px;
}